body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */

.navbar{
    height: 5rem;
    background-color: white;
    z-index: 2;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222;
}

/* Footer */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
}

/* cards */

.listing-card {
    border: none;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* Card Effects */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* view card */

.show-image {
    height: 30vh;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* edit page */

.edit-btn {
    background-color: #fe424d;
    border: none;
}

/* new page */

.add-btn {
    background-color: #fe424d;
    border: none;
}
